absl-py
astroid
attrs
black
cffi
click
contourpy
cycler
dill
flask
flatbuffers
fonttools
isort
jax
jaxlib
kiwisolver
matplotlib
mccabe
mediapipe
ml_dtypes
mypy-extensions
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pathspec
pillow
platformdirs
protobuf
pycparser
pylint
pyparsing
python-dateutil
scipy
sentencepiece
six
sounddevice
tomli
tomlkit
typing_extensions
