<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="static/style.css">    </head>
    <body>
        

        <div class="home-container">
            <div class="app-title">
                <h1>Gesturing</h1>
            </div>
            
            <div class="bottom-buttons">
                <button><a href="loginregister">Login or Register</a></button>
            </div>
        </div>
    </body>
</html>