<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hand Log</title>
        <link rel="stylesheet" href="static/css/home.css">    
    </head>
        <body>
            <h1>Welcome to Gesture</h1>
            <nav>
                <ul>
                    <li><a href="about.html">About Gesture</a></li>
                    <li><a href="registerlogin.html">Register or Login</a></li>
                </ul>
            </nav>
        </body>
</html>